.Buttons {
	font-family: Lucida Grande;
	font-size: 11px;
}

.default {
	font-family: Lucida Grande;
	font-size: 13px;
}

.Field_Input {
	font-family: Lucida Grande;
	font-size: 11px;
}

.Field_Label {
	font-family: Lucida Grande;
	font-size: 11px;
}

.SystemSmall {
	font-family: Lucida Grande;
	font-size: 10px;
}

